<h1>Files in {{ folder }}</h1>

<ul>
    {% for file in files %}
        <li>{{ file }}
            <a href="{% url 'download_file' file.id %}">Download</a>
            <a href="{% url 'delete_file' file.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'create_file' folder %}" enctype="multipart/form-data" id="createFileForm">
    {% csrf_token %}
    {{ file_upload_form.as_p }}
    <button type="submit">Upload File</button>
</form>

<form method="post" action="{% url 'create_folder' folder %}" id="createFolderForm">
    {% csrf_token %}
    {{ folder_create_form.as_p }}
    <button type="submit">Create Folder</button>
</form>

<form method="post" action="{% url 'copy_file' folder %}" id="copyFileForm">
    {% csrf_token %}
    <input type="text" name="file_name" placeholder="Enter file name" required>
    <input type="text" name="destination_folder" placeholder="Enter destination folder" required>
    <button type="submit">Copy File</button>
</form>

<form method="post" action="{% url 'move_file' folder %}" id="moveFileForm">
    {% csrf_token %}
    <input type="text" name="file">
</form>